<div>
  <p>{{{localize "pathmuncher.Dialogs.PathmuncherImporter.StepOne"}}}</p>
  <p>{{{localize "pathmuncher.Dialogs.PathmuncherImporter.StepTwo"}}}</p>
  <div>
    <hr/>
    <form>
      <input type="checkbox" id="checkBoxFeats" name="checkBoxFeats" checked>
      <label for="checkBoxFeats"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Feats"}}</label><br>
      <input type="checkbox" id="checkBoxEquipment" name="checkBoxEquipment" checked>
      <label for="checkBoxEquipment"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Equipment"}}</label><br>
      <input type="checkbox" id="checkBoxMoney" name="checkBoxMoney" checked>
      <label for="checkBoxMoney"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Money"}}</label><br>
      <input type="checkbox" id="checkBoxSpells" name="checkBoxSpells" checked>
      <label for="checkBoxSpells"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Spells"}}</label><br>
      <!--
      <input type="checkbox" id="checkBoxDeleteAll" name="checkBoxDeleteAll" checked>
      <label for="checkBoxDeleteAll"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.DeleteAll"}}</label><br> -->
    <hr/>
    <div id="divCode">
      {{localize "pathmuncher.Dialogs.PathmuncherImporter.PathBuilderId"}}<br>
      <div id="divOuter">
        <div id="divInner">
          <input id="textBoxBuildID" type="number" maxlength="6" value="{{ id }}"/>
        </div>
      </div>
    </div>
    </form>
    <hr>
    <div class="import-progress import-hidden">
      <div class="pathmuncher import-progress-bar" style="width: 0%"></div>
    </div>
    <hr>
     <div>
      <button class="pathmuncher-button" data-button="pathmuncher">
        <i class="fas fa-check"></i>
        {{localize "pathmuncher.Dialogs.PathmuncherImporter.Button"}}
      </button>
    </div>
  </div>
  <div class="pathmuncher-overlay import-invalid">
    <div class="pathmuncher-working import-hidden"><i class="fas fa-cog"></i>
      <div style="font-size: 15px; text-align: center;">{{localize "pathmuncher.Dialogs.PathmuncherImporter.Munching"}}</div>
    </div>
  </div>
</div>
