<form>
  <p>{{{localize "pathmuncher.Dialogs.PathmuncherImporter.StepOne"}}}</p>
  <p>{{{localize "pathmuncher.Dialogs.PathmuncherImporter.StepTwo"}}}</p>
  <div>
    <hr/>
      <input type="checkbox" id="checkBoxName" name="checkBoxName" {{#if flags.addName}}checked{{else}}{{/if}}>
      <label for="checkBoxName"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Name"}}</label><br>
      <input type="checkbox" id="checkBoxClass" name="checkBoxClass" {{#if flags.addClass}}checked{{else}}{{/if}}>
      <label for="checkBoxClass"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Class"}}</label><br>
      <input type="checkbox" id="checkBoxAncestry" name="checkBoxAncestry" {{#if flags.addAncestry}}checked{{else}}{{/if}}>
      <label for="checkBoxAncestry"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Ancestry"}}</label><br>
      <input type="checkbox" id="checkBoxHeritage" name="checkBoxHeritage" {{#if flags.addHeritage}}checked{{else}}{{/if}}>
      <label for="checkBoxHeritage"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Heritage"}}</label><br>
      <input type="checkbox" id="checkBoxBackground" name="checkBoxBackground" {{#if flags.addBackground}}checked{{else}}{{/if}}>
      <label for="checkBoxBackground"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Background"}}</label><br>
      <input type="checkbox" id="checkBoxFeats" name="checkBoxFeats" {{#if flags.addFeats}}checked{{else}}{{/if}}>
      <label for="checkBoxFeats"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Feats"}}</label><br>
      <input type="checkbox" id="checkBoxEquipment" name="checkBoxEquipment" {{#if flags.addEquipment}}checked{{else}}{{/if}}>
      <label for="checkBoxEquipment"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Equipment"}}</label><br>
      <input type="checkbox" id="checkBoxWeapons" name="checkBoxWeapons" {{#if flags.addWeapons}}checked{{else}}{{/if}}>
      <label for="checkBoxWeapons"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Weapons"}}</label><br>
      <input type="checkbox" id="checkBoxArmor" name="checkBoxArmor" {{#if flags.addArmor}}checked{{else}}{{/if}}>
      <label for="checkBoxArmor"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Armor"}}</label><br>
      <input type="checkbox" id="checkBoxMoney" name="checkBoxMoney" {{#if flags.addMoney}}checked{{else}}{{/if}}>
      <label for="checkBoxMoney"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Money"}}</label><br>
      <input type="checkbox" id="checkBoxTreasure" name="checkBoxTreasure" {{#if flags.addTreasure}}checked{{else}}{{/if}}>
      <label for="checkBoxTreasure"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Treasure"}}</label><br>
      <input type="checkbox" id="checkBoxSpells" name="checkBoxSpells" {{#if flags.addSpells}}checked{{else}}{{/if}}>
      <label for="checkBoxSpells"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Spells"}}</label><br>
      <input type="checkbox" id="checkBoxLores" name="checkBoxLores" {{#if flags.addLores}}checked{{else}}{{/if}}>
      <label for="checkBoxLores"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Lores"}}</label><br>
      <input type="checkbox" id="checkBoxDeity" name="checkBoxDeity" {{#if flags.addDeity}}checked{{else}}{{/if}}>
      <label for="checkBoxDeity"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Deity"}}</label><br>
      <input type="checkbox" id="checkBoxFormulas" name="checkBoxFormulas" {{#if flags.addFormulas}}checked{{else}}{{/if}}>
      <label for="checkBoxFormulas"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Formulas"}}</label><br>
    <hr/>
      <input type="checkbox" id="checkBoxAskForChoices" name="checkBoxAskForChoices" {{#if flags.askForChoices}}checked{{else}}{{/if}}>
      <label for="checkBoxAskForChoices"> {{localize "pathmuncher.Dialogs.PathmuncherImporter.Ask.Choices"}}</label><br>
    <hr/>
      <nav class="sheet-tabs tabs">
      <a class="item active" data-tab="number"><i class="fas fa-hashtag"></i> Use ID</a>
      <a class="item" data-tab="json"><i class="fas fa-code"></i> Paste JSON</a>
    </nav>
    <section class="tab" data-tab="number">
    <div id="divCode">
      {{localize "pathmuncher.Dialogs.PathmuncherImporter.PathBuilderId"}}<br>
      <div id="divOuter">
        <div id="divInner">
          <input id="textBoxBuildID" name="textBoxBuildID" type="number" maxlength="6" value="{{ id }}"/>
        </div>
      </div>
    </div>
    </section>
    <section class="tab" data-tab="json">
    <div id="divJson">
      {{localize "pathmuncher.Dialogs.PathmuncherImporter.PathBuilderJSON"}}<br>
      <div id="divOuter">
        <div id="divInner">
          <textarea rows="2" id="textBoxBuildJSON" name="textBoxBuildJSON"></textarea>
        </div>
      </div>
    </div>
    </section>
    <hr>
    <div class="import-progress import-hidden">
      <div class="pathmuncher import-progress-bar" style="width: 0%"></div>
    </div>
    <hr>
     <div>
      <button class="pathmuncher-button" type="submit" data-button="pathmuncher">
        <i class="fas fa-check"></i>
        {{localize "pathmuncher.Dialogs.PathmuncherImporter.Button"}}
      </button>
    </div>
  </div>
  <div class="pathmuncher-overlay import-invalid">
    <div class="pathmuncher-working import-hidden"><i class="fas fa-cog"></i>
      <div style="font-size: 15px; text-align: center;">{{localize "pathmuncher.Dialogs.PathmuncherImporter.Munching"}}</div>
    </div>
  </div>
</form>
